/**dark*/
.dark {
    color: #C5D1DE;
}

.dark .main-bg-img {
    background-image: url("/vague-rose-dark.jpg");
}

.dark .layout-header {
    background-color: rgba(34,39,46);
    border: 1px solid #373e47;
    color: #C5D1DE;
}

.dark .svg-color {
    color: #fff;
}

/** light */
.light{
    color: #1f2328;
}

.light .main-bg-img {
    background-image: url("/vague-rose-light.jpg");
}

.light .layout-header {
    background-color: rgba(246,248,250);
    border: 1px solid #D0D7DE;
    color: #000;
}

.light .svg-color {
    color: #000;
}